### Data Cleaning

In [11]:
#### Cargue de las bases de datos

import pandas as pd 

customers = pd.read_csv('Customers.csv',encoding='latin1',delimiter=';')                     
location = pd.read_csv('Location.csv',encoding='latin1',delimiter=';')
orders = pd.read_csv('Orders.csv', encoding='latin1', delimiter=';')
products=pd.read_csv('Products.csv',encoding='latin1',delimiter=';')

In [12]:
customers

    Customer ID       Customer Name
0      AA-10315          Alex Avila
1      AA-10375        Allen Armold
2      AA-10480        Andrew Allen
3      AA-10645       Anna Andreadi
4      AB-10015       Aaron Bergman
..          ...                 ...
788    XP-21865        Xylona Preis
789    YC-21895      Yoseph Carroll
790    YS-21880       Yana Sorensen
791    ZC-21910    Zuschuss Carroll
792    ZD-21925  Zuschuss Donatelli

[793 rows x 2 columns]

In [13]:
location

     Postal Code             City       State   Region Country/Region
0        76106.0       Fort Worth       Texas  Central  United States
1        53711.0          Madison   Wisconsin  Central  United States
2        68025.0          Fremont    Nebraska  Central  United States
3        77095.0          Houston       Texas  Central  United States
4        75080.0       Richardson       Texas  Central  United States
..           ...              ...         ...      ...            ...
627      83301.0       Twin Falls       Idaho     West  United States
628      92672.0     San Clemente  California     West  United States
629      94568.0           Dublin  California     West  United States
630      93405.0  San Luis Obispo  California     West  United States
631      95240.0             Lodi  California     West  United States

[632 rows x 5 columns]

In [ ]:
orders

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Postal Code,Product ID,Sales,Quantity,Discount,Profit
0,1,CA-2022-152156,08/11/2022,11/11/2022,Second Class,CG-12520,Consumer,42420,FUR-BO-10001798,"261,96",2,0,"41,9136"
1,2,CA-2022-152156,08/11/2022,11/11/2022,Second Class,CG-12520,Consumer,42420,FUR-CH-10000454,"731,94",3,0,"219,582"
2,3,CA-2022-138688,12/06/2022,16/06/2022,Second Class,DV-13045,Corporate,90036,OFF-LA-10000240,"14,62",2,0,"6,8714"
3,4,US-2021-108966,11/10/2021,18/10/2021,Standard Class,SO-20335,Consumer,33311,FUR-TA-10000577,"957,5775",5,"0,45","-383,031"
4,5,US-2021-108966,11/10/2021,18/10/2021,Standard Class,SO-20335,Consumer,33311,OFF-ST-10000760,"22,368",2,"0,2","2,5164"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2020-110422,21/01/2020,23/01/2020,Second Class,TB-21400,Consumer,33180,FUR-FU-10001889,"25,248",3,"0,2","4,1028"
9990,9991,CA-2023-121258,26/02/2023,03/03/2023,Standard Class,DB-13060,Consumer,92627,FUR-FU-10000747,"91,96",2,0,"15,6332"
9991,9992,CA-2023-121258,26/02/2023,03/03/2023,Standard Class,DB-13060,Consumer,92627,TEC-PH-10003645,"258,576",2,"0,2","19,3932"
9992,9993,CA-2023-121258,26/02/2023,03/03/2023,Standard Class,DB-13060,Consumer,92627,OFF-PA-10004041,"29,6",4,0,"13,32"
9993,9994,CA-2023-119914,04/05/2023,09/05/2023,Second Class,CC-12220,Consumer,92683,OFF-AP-10002684,"243,16",2,0,"72,948"

In [15]:
products

,Product ID,Category,Sub-Category,Product Name
0,FUR-BO-10000112,Furniture,Bookcases,"Bush Birmingham Collection Bookcase, Dark Cherry"
1,FUR-BO-10000330,Furniture,Bookcases,"Sauder Camden County Barrister Bookcase, Plank..."
2,FUR-BO-10000362,Furniture,Bookcases,Sauder Inglewood Library Bookcases
3,FUR-BO-10000468,Furniture,Bookcases,O'Sullivan 2-Shelf Heavy-Duty Bookcases
4,FUR-BO-10000711,Furniture,Bookcases,"Hon Metal Bookcases, Gray"
...,...,...,...,...
1889,TEC-PH-10004912,Technology,Phones,Cisco SPA112 2 Port Phone Adapter
1890,TEC-PH-10004922,Technology,Phones,RCA Visys Integrated PBX 8-Line Router
1891,TEC-PH-10004924,Technology,Phones,"SKILCRAFT Telephone Shoulder Rest, 2"" x 6.5"" x..."
1892,TEC-PH-10004959,Technology,Phones,Classic Ivory AntiqueTelephoneZL1810
1893,TEC-PH-10004977,Technology,Phones,GE 30524EE4